<style>
	h1{
		border-bottom: solid 2px gray;
		margin-bottom: 20 px;
	}
</style>

<head>
<title>Carriers</title>
</head>

<h1>Carriers</h1>

<p><%= link_to "Add a New Carrier", "/carriers/new" %></p>

<ul>

  <% @carriers.each do |carrier| %>
    <li>
      <%= link_to carrier.name, "/carriers/#{carrier.id}" %>
      <%= link_to "(delete)", "/carriers/#{carrier.id}", :method => 'delete' %>
    </li>
  <% end %>

</ul>