<style>
  label { width: 75px; vertical-align: middle;}
  h2 {border-bottom: solid 2px gray;
	  margin-bottom: 20px;}
  li { color: red; }
</style>

<h2>Add a Carrier</h2>

<% if @carrier.errors.any? %>
  <ul>
    <% @carrier.errors.full_messages.each do |error| %>
	  <li>Field Entry Error: <%= error %></li>
	<% end %>
  </ul>
<% end %>

<%= form_tag "/carriers" do %>
  <p><label>Name:</label> <input name="name" size="50"></p>
  <p><label>MC Number:</label> <input name="mcnum" size="10"></p>
  <p><label>DOT Number:</label> <input name="dotnum" size="10"></p>
  <p><button>Submit</button></p>
<% end %>