<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have requested a password reset for BridgeHaul, please click on the link below to continue<br></p>
    <p><%= @url %></p>
    <p>Thanks for using BridgeHaul!</p>
  </body>
</html>