<style>
  label { width: 75px; vertical-align: middle;}
  h2 {border-bottom: solid 2px gray;
	  margin-bottom: 20px;}
</style>

<h2><%= @driver.name %> Details</h2>

<p>MC Number: <%= @driver.mc_number %></p>
<p>DOT Number: <%= @driver.dot_number %></p>

<%= link_to "Edit", "/drivers/#{@driver.id}/edit" %>


